<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>float</title>
</head>
<body>
    

<style>

.box_cmn {padding:20px;border:1px solid #ccc;margin:0 0 20px 0}
.float_left {float:left;width:100px;height:200px;background:#fa1;}
.float_right {float:right;width:100px;height:200px;background:rgb(255, 92, 17);}

.box_cmn h2 {margin:0 0 10px 0}


.box_cmn p.new_line {background:#ccc;}
.box_cmn:not(.box_01) p.new_line {clear:both;}


.box_03 p.new_line:before {content:"";display:block;clear:both}
.box_04 .box_inner {overflow:hidden;}

</style>


<div class="box_01 box_cmn">
    <h2>1. float이 사용 후 다음 요소끼치는 영향</h2>
    <div class="float_left">
    
    </div>
    
    <div class="float_right">
    
    </div>
    
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Atque dignissimos voluptas ipsam sed voluptates ex omnis deserunt, 
    recusandae enim vel error similique fugit porro blanditiis ea! Dolores eligendi cupiditate hic!
    </p>
    
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Atque dignissimos voluptas ipsam sed voluptates ex omnis deserunt, 
    recusandae enim vel error similique fugit porro blanditiis ea! Dolores eligendi cupiditate hic!
    </p>
    
    
    <p class="new_line">
    new line
    </p>
            
    
    </div>
    <!-- //box_01 -->

    


<div class="box_02 box_cmn">
<h2>2. float이 적용된 다음 요소에 clear:both</h2>
<div class="float_left">

</div>

<div class="float_right">

</div>

<p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Atque dignissimos voluptas ipsam sed voluptates ex omnis deserunt, 
recusandae enim vel error similique fugit porro blanditiis ea! Dolores eligendi cupiditate hic!
</p>

<p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Atque dignissimos voluptas ipsam sed voluptates ex omnis deserunt, 
recusandae enim vel error similique fugit porro blanditiis ea! Dolores eligendi cupiditate hic!
</p>


<p class="new_line">
new line
</p>
        

</div>
<!-- //box_02 -->





<div class="box_03 box_cmn">
    <h2>3. 가상클래스를 이용한 clearfix</h2>
    <div class="float_left">
    
    </div>
    
    <div class="float_right">
    
    </div>
    
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Atque dignissimos voluptas ipsam sed voluptates ex omnis deserunt, 
    recusandae enim vel error similique fugit porro blanditiis ea! Dolores eligendi cupiditate hic!
    </p>
    
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Atque dignissimos voluptas ipsam sed voluptates ex omnis deserunt, 
    recusandae enim vel error similique fugit porro blanditiis ea! Dolores eligendi cupiditate hic!
    </p>
    
    
    <p class="new_line">
    new line
    </p>
    
    </div>
    <!-- //box_03 -->


    <div class="box_04 box_cmn">
        <h2>4. overflow:hidden </h2>
        <div class="box_inner">
            <div class="float_left">
            
            </div>
            
            <div class="float_right">
            
            </div>
            
            <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Atque dignissimos voluptas ipsam sed voluptates ex omnis deserunt,
            recusandae enim vel error similique fugit porro blanditiis ea! Dolores eligendi cupiditate hic!
            </p>
            
            <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Atque dignissimos voluptas ipsam sed voluptates ex omnis deserunt,
            recusandae enim vel error similique fugit porro blanditiis ea! Dolores eligendi cupiditate hic!
            </p>
        </div>
        
        
        <p class="new_line">
        new line
        </p>
        
        </div>
        <!-- //box_04 -->

</body>
</html>